APP_ENV="development"
JSON_LISTEN_ADDR="localhost:8000"
GRPC_LISTEN_ADDR="localhost:8000"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_DATABASE="0"
REDIS_PASSWORD=""
CACHE_TYPE="redis"
PRICE_EXPIRATION_TIME_MINUTE=30
PRICE_API="coinmarketcap"